@using OnlineShop.Models;
@using X.PagedList.Web.Common;
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Product>
@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">New Summer Collection!</h1>
            <p class="lead fw-normal text-white-50 mb-0">Special Sale</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var product in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                    <img class="card-img-top" src="~/@product.Image" alt="@product.Name" />
                        <!-- Product details-->
                    <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                            <h5 class="fw-bolder">@product.Name</h5>
                                <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"><i class="fa-solid fa-star"></i></div>
                                    <div class="bi-star-fill"><i class="fa-solid fa-star"></i></div>
                                    <div class="bi-star-fill"><i class="fa-solid fa-star"></i></div>
                                    <div class="bi-star-fill"><i class="fa-solid fa-star"></i></div>
                                    <div class="bi-star-fill"><i class="fa-solid fa-star"></i></div>
                                </div>
                                <!-- Product price-->
                            @product.Price
                            </div>
                        </div>
                        <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id" class="btn btn-success pull-right">Details</a></div>
                            @*<a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id" class="btn btn-success pull-right">Details</a>*@
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@*<div class="row">*@
@*@foreach (var product in Model)
    {
    <div class="col mb-5">
    <div class="card h-100">
    <!-- Product image-->
    <img class="card-img-top" src="~/@product.Image" alt="@product.Name" />
    <!-- Product details-->
    <div class="card-body p-4">
    <div class="text-center">
    <!-- Product name-->
    <h5 class="fw-bolder">@product.Name</h5>
    <!-- Product reviews-->
    <div class="d-flex justify-content-center small text-warning mb-2">
    <div class="bi-star-fill"></div>
    <div class="bi-star-fill"></div>
    <div class="bi-star-fill"></div>
    <div class="bi-star-fill"></div>
    <div class="bi-star-fill"></div>
    </div>
    <!-- Product price-->
    @product.Price
    </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
    <a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id" class="btn btn-success pull-right">Details</a>
    </div>
    </div>
    </div>
    <div class="col-4">
    <div class="card mb-4">
    <div class="card-header">
    <h4 class="my-0 font-weight-normal">
    <label style="font-size: 23px;color: steelblue">@product.Name</label>
    </h4>
    </div>
    <img src="~/@product.Image" alt="Card Image" class="card-img-top" style="height: 300px;" />
    <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
    <label style="font-size: 20px;color: #a51313"><b>Price : @product.Price</b></label>
    </div>
    <a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id" class="btn btn-success pull-right">Details</a>
    </div>
    </div>
    </div>
    </div>
    }*@
@*</div>*@
<div>
    @Html.PagedListPager(Model,c=>Href("~/Customer/Home/Index?page="+c),PagedListRenderOptions.MinimalWithPageCountText)
</div>
@section scripts{
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script type="text/javascript">
    $(function() {
        var AlertMessage = '@TempData["AlertMessage"]'
        if (AlertMessage != '')
        {
             alertify.success(AlertMessage);
        }
    })   
</script>

}

