@using System.Net.Http
@using OnlineShop.Services
@using OnlineShop.Utility
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor
@{
    var userRole = HttpContextAccessor.HttpContext.Session.GetString("roleName");
    int count = 0;
    List<Product> products = HttpContextAccessor.HttpContext.Session.Get<List<Product>>("products");
    if (products == null)
    {
        products = new List<Product>();
    }
    count = products.Count();

}
@inject IProductTypesServices _productTypesServices
@{
    List<ProductTypes> ProductTypesList = new List<ProductTypes>();
    ProductTypesList = _productTypesServices.GetProductTypes();
}

<!DOCTYPE html>
<html lang="en">
<head>
    @* <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - OnlineShop</title>
        <link rel="stylesheet" href="~/css/mybootstraptheme.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/OnlineShop.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
        <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />*@

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>OnlineShope</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light"><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OnlineShop</a></div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area="" asp-controller="Home" asp-action="Index">All Products</a>

                @foreach (var item in ProductTypesList)
                {
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/Customer/Home/Index?ProductType=@item.ProductType">@item.ProductType</a>
                }
               @* <a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/Customer/Home/Index?ProductType=Laptop">Laptop</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/Customer/Home/Index?ProductType=Mobile">Mobile</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/Customer/Home/Index?ProductType=Phone">Phone</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/Customer/Home/Index?ProductType=Accessories">Accessories</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/Customer/Home/Index?ProductType=Shoes">Shoes</a>*@
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    @* <button class="btn btn-primary" id="sidebarToggle">Menu<i class="fa-solid fa-sidebar"></i></button>*@
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Cart">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    (@count)
                                </a>
                            </li>
                            @if (userRole == "Super user")
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product Management</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="ProductTypes" asp-action="ProductTypes">Product Type</a>
                                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="SpecialTag" asp-action="SpecialTag">Tag Name</a>
                                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User Management</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="nav-link text-dark" id="register" asp-area="Customer" asp-controller="User" asp-action="Index">Users</a>
                                        <a class="nav-link text-dark" id="register" asp-area="Admin" asp-controller="Role" asp-action="Index">Roles</a>
                                        <a class="nav-link text-dark" id="register" asp-area="Admin" asp-controller="Role" asp-action="Assign">User Roles</a>
                                    </div>
                                </li>
                            }
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                                </li>
                                <li class="nav-item">
                                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    @*<a class="nav-link text-dark" id="register" asp-area="Customer" asp-controller="User" asp-action="Create">Register</a>*@
                                    <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>
                            }
                            @* <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                                <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#!">Action</a>
                                <a class="dropdown-item" href="#!">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#!">Something else here</a>
                                </div>
                                </li>*@
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OnlineShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <partial name="_LoginPartial" />
        <ul class="navbar-nav flex-grow-1">
        @if (userRole == "Super user")
        {
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="ProductTypes" asp-action="ProductTypes">Product Type</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="SpecialTag" asp-action="SpecialTag">Tag Name</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Customer" asp-controller="User" asp-action="Index">User Management</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Admin" asp-controller="Role" asp-action="Index">Role Management</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Admin" asp-controller="Role" asp-action="Assign">User Roles</a>
        </li>
        }
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Cart">
        <i class="fa-solid fa-cart-shopping"></i>
        (@count)
        </a>
        </li>
        </ul>
        </div>
        </div>
        </nav>
        </header>
        <div class="container">
        <main role="main" class="pb-3">
        @RenderBody()
        </main>
        </div>

        <footer class="border-top footer text-muted">
        <div class="container">
        &copy; 2023 - OnlineShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/e904a62c99.js" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@

    <!-- Bootstrap core JS-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/e904a62c99.js" crossorigin="anonymous"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
